<h1>Jars</h1>

<table>
  <thead>
    <tr>
      <th>Contents</th>
    </tr>
  </thead>

  <tbody>
    <% @jars.each do |jar| %>
      <tr id=<%= "jar_#{jar.id}" %>>
        <td><%= jar.contents %></td>
        <td><%= link_to 'Show', group_jar_path(jar.group_id, jar) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Jar', new_group_jar_path %>
