<div class="row">
  <div class="form-inputs small-6 small-centered columns">
    <h1>New Jar</h1>

    <%= simple_form_for([@group, @jar]) do |f| %>

      <%= f.input :contents %>
      <%= f.input :quantity %>
      <%= f.button :submit %>

    <% end %>
  </div>
</div>
