<div class="row">
  <div class="small-6 small-centered columns">
    <p>
      <strong>Contents:</strong>
      <%= @jar.contents %><br>
    </p>

    <%= link_to 'Back', game_path(@jar.game) %>
  </div>
</div>
