<div class="row">
  <div class="form-inputs small-6 small-centered columns">
    <%= simple_form_for(@group) do |f| %>

      <%= f.input :title %>
      <%= f.button :submit, 'Create Group' %>

    <% end %>
  </div>
</div>
