<div class="row">
  <div class="small-centered columns">
    <h1>Estimation Station</h1>
    <h4>by <a href="https://github.com/djpowers">Dave Powers</a></h4>

    <ol>
      <li>Log In or Sign Up</li>
      <li>Create a Game.</li>
      <li>Add a Player for each person that will guess.</li>
      <li>Add a Jar for each item people will be guessing the count of.</li>
      <li>Calculaute the winner to determine who won the most jars!</li>
    </ol>
  </div>
</div>
