<h1>Estimation Station</h1>
<h4>by Dave Powers</h4>

<ol>
  <li>Create a Group to start a game.</li>
  <li>Add a Player for each person that will guess.</li>
  <li>Add a Jar for each item people will be guessing the count of.</li>
  <li>Calculaute the winner to determine who won the most jars!</li>
</ol>
