<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= link_to 'Show', game_player_path(player.game_id, player) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_game_player_path %>
