<div class="row">
  <div class="form-inputs small-6 small-centered columns">
    <h1>New Player</h1>

    <%= simple_form_for([@game, @player]) do |f| %>
      <%= f.input :name %>
      <%= f.button :submit %>

    <% end %>
  </div>
</div>
